﻿
@{
    ViewBag.Title = "CreateProduct";
}

<h3 style="color:darkblue">Add New Product</h3>
<form method="post">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button type="submit">Save</button>
</form> 