﻿
@{
    ViewBag.Title = "Index";
}

<h2 style="color:red">Products Details</h2>

<div id="ProductsListContainer">
    @{
        Html.RenderAction("ProductsList");
        //Html.RenderAction("Create");
    }
</div>
