﻿@model List<Product>
@{
    ViewBag.Title = "ProductsList";
}

<div>
    <form method="post">
        <input id="txtSearch" name="Search" />
        <button type="button" id="btnSearch">Search</button>
    </form>
    <button type="button" id="btnNew">New</button>
</div>

<div>
    <table border="1" style="text-align:center">
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $('#btnSearch').click(function () {
        var searchValue = $('#txtSearch').val();

        $.ajax({
            type: 'post',
            url: '/Product/ProductsList',
            data: {
                search: searchValue
            }
        }).done(function (response) {
            $('#ProductsListContainer').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('Sending data to controller is Failed.');
        });
    });
</script>

