﻿@model Category
@{
    ViewBag.Title = "DeleteCategory";
}

<h2>Delete Category</h2>
<br/>
<h3 style="color:red">Are you sure to delete @Model.Name category?</h3>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Yes Delete</button>
</form>
<a href="Category/Index"><text style="color:green; font-size:large">Cancel</text></a>